<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Smart Ophtho - About</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="icon" type="image/png" href="https://icons.iconarchive.com/icons/graphicloads/medical-health/256/eye-icon.png"/>
 
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/nice-select.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/gijgo.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/slicknav.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    
        .imgbox {
            display: grid;
            height: 100%;
        }
    
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
  </head>

  <body>
   
    <%-include('Header') %>

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xl-12" style="margin-top: 50px;">
            <div class="bradcam_text">
              <h3>About Project</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /bradcam_area  -->
    
    <!-- about  -->
    <div style="text-align: center;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display: inline-block; font-weight: bold; text-align: left; ;margin-top: 20px; font-size:20px ;">
      India is now home to  world’s largest blind people. 
      About 40% of the global blind population resides in India . <br>
      Moreover 75% of these  are  cases of avoidable blindness. <br>

      There are various problems such as : <br><br>
      A. Shortage  of eye donors <br>
      B. Lack of eye specialists and optometrists<br>
      C. Detection of diseases at advance stages <br>
      D. Lack of faculty for training professional optometrists<br>

      <br>
      So we created a solution for this problem to detect diseases at preliminary stages  <br>
      </p>
    </div>

    <p class="font-weight-bold" style="text-align: center ;margin-top: 20px; font-size:30px;align-self:center ;">Watch This Video</p>

    <p align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hqd3PTyAM8U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>

    <p class="font-weight-bold" style="text-align: center ;margin-top: 20px; font-size:30px;align-self:center ;">Features that give you real time Fundus image Testing</p>
    
        <!--Grid row-->
    <div class="row" style="justify-content: center;margin-top: 40px;">
    

    <!--Grid column-->
    <div class="col-md-6 mb-4">
    
        <ul class="list-group" >
            <li class="list-group-item active">
              <div class="md-v-line"></div>
              <img src="https://cdn0.iconfinder.com/data/icons/machine-learning-ai-1/100/neural_network_color_machine_digital_data_learning-256.png"  width="40" height="40">
                 Convolutional Neural Networks
            </li>
            <li class="list-group-item">
             <div class="md-v-line"></div>  
             <img src="https://api.iconify.design/logos-tensorflow.svg"  width="40" height="40">
              TENSOR FLOW
            </li>
            <li class="list-group-item">
              <div class="md-v-line">
              <img src="https://image.flaticon.com/icons/png/512/3617/3617186.png"  width="40" height="40">
              Machine Learning
            </li>
            <li class="list-group-item">
             <div class="md-v-line"></div>  
             <img src="https://img.icons8.com/color/48/000000/javascript--v2.png"  width="40" height="40">
              Java Script
            </li>
            <li class="list-group-item">
              <div class="md-v-line"></div>  
             <img src="img/3098090.png"  width="40" height="40">
              Python
            </li>
            <li class="list-group-item">
              <div class="md-v-line">
                <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.svg"  width="40" height="40">
                Node Js
            </li>
            <li class="list-group-item">
              <div class="md-v-line">
              <img src="https://image.flaticon.com/icons/png/512/1051/1051277.png"  width="40" height="40">
              HTML
            </li>
            <li class="list-group-item">
              <div class="md-v-line">
              <img src="https://image.flaticon.com/icons/png/512/732/732190.png"  width="40" height="40">
              CSS
            </li>
            
          </ul>
    
    </div>
    <!--Grid column-->

    
        
        <div class="imgbox">            
            <img class="center-fit" src='img\ilstrator_img\FTRUS-01.png'>
        </div>
        <div class="features_main_wrap">
          <div class="row  align-items-center">
            <div class="col-xl-5 col-lg-5 offset-xl-1 offset-lg-1 col-md-6">
              <div
                class="about_image wow fadeInLeft"
                data-wow-duration=".4s"
                data-wow-delay=".3s"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ about  -->

    <%-include('footer') %>

</html>
