      <!-- footer start -->
      <footer class="footer">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="footer_widget">
                  <div class="footer_logo">
                    <a href="#">
                      <img src="img/logo.png" alt="" />
                    </a>
                  </div>
                  <p>
                    Boon for people living in isolated areas where even basic
                    facilities are not available.
                  </p>
                  
                </div>
              </div>
              <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                <div class="footer_widget">
                  <h3 class="footer_title">
                    Contact Us
                  </h3>
                  <ul>
                    <li><a href="mailto:jaisood08@gmail.com">Jay Sood</a></li>
                    <li><a href="mailto:imsharan0105@gmail.com">Sharanpreet Chadha</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-2 col-md-6 col-lg-2">
                <div class="footer_widget">
                  <h3 class="footer_title">
                    Useful Links
                  </h3>
                  <ul>
                    <li><a href="/About">Features</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="footer_widget">
                  <h3 class="footer_title">
                    <!-- Downloads -->
                  </h3>
                  <ul>
                    <li>
                      <a href="#">
                        Download from Apple Store
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Download from Play Store
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copy-right_text">
          <div class="container">
            <div class="footer_border"></div>
            <div class="row">
              <div class="col-xl-12">
                <p class="copy_right text-center">
                  &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
  
                  All rights reserved | <br />This Product is Made by
                  <br />
                  <i class="fa fa-smile-o" aria-hidden="true"></i>
                  <a> Jay Sood</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--/ footer end  -->