
    <!-- header-start -->
<link rel="icon" type="image/png" href="/favicon.png"/>
<link rel="icon" type="image/png" href="https://icons.iconarchive.com/icons/graphicloads/medical-health/256/eye-icon.png"/>
    <header>
        <div class="header-area ">
          <div id="sticky-header" class="main-header-area" >
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3" style="margin-left: 80px;">
                  <div class="logo">
                    <a href="/">
                      <img src="img/logo.png" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                  <div class="main-menu  d-none d-lg-block" >
                    <nav>
                      <ul id="navigation" ">
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/Features">About</a></li>
                        <li><a href=/Work>Use Online</a></li>
                        <li><a href=/Contact>Contact</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

       <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
      <!-- header-end -->
  