<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Smart Ophtho - MAIN</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="icon" type="image/png" href="https://icons.iconarchive.com/icons/graphicloads/medical-health/256/eye-icon.png"/>
 
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/nice-select.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/gijgo.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/slicknav.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
  </head>

  <body>
    <%-include('Header') %>
    <!-- slider_area_start -->
    <div class="slider_area">
      <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-7 col-md-6" style="margin-top: 50px;">
              <div class="slider_text ">
                <h3
                  class="wow fadeInDown"
                  data-wow-duration="1s"
                  data-wow-delay=".1s"
                >
                  THE EYE CARE NEEDS OF LIFE FOR EVERYONE<br />
                </h3>
                <div
                  class="video_service_btn wow fadeInLeft"
                  data-wow-duration="1s"
                  data-wow-delay=".1s"
                >
                  <a href="/Work" class="boxed-btn3">Get Start Now</a>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-md-6">
              <div
                class="phone_thumb wow fadeInDown"
                data-wow-duration="1.1s"
                data-wow-delay=".2s"
              >
                <img src="img/ilstrator/phone.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider_area_end -->
    <!-- service_area  -->
    <div class="service_area">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div
              class="section_title text-center  wow fadeInUp"
              data-wow-duration=".5s"
              data-wow-delay=".3s"
            >
              <h3>
                Check your Health by <br />
                using Smart Ophtho
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div
              class="single_service text-center wow fadeInUp"
              data-wow-duration=".6s"
              data-wow-delay=".4s"
            >
              <div class="thumb">
                <img src="img/icon/2.svg" alt="" />
              </div>
              <h3>
                Capture Fundus Image <br />
                using any camera
              </h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div
              class="single_service text-center wow fadeInUp"
              data-wow-duration=".7s"
              data-wow-delay=".5s"
            >
              <div class="thumb">
                <img src="img/icon/1.svg" alt="" />
              </div>
              <h3>
                Upload the Images <br />
                for prediction
              </h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div
              class="single_service text-center wow fadeInUp "
              data-wow-duration=".8s"
              data-wow-delay=".6s"
            >
              <div class="thumb">
                <img src="img/icon/3.svg" alt="" />
              </div>
              <h3>Now you can analyze your Result</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ service_area  -->

    <%-include('footer') %>

  </body>
</html>
